.textStyle{
    font-family:'Times New Roman', Times, serif;
}

.buttonStyle{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

inputSize{
    width:500px;
}

.emailInputSize{
    width:250px;
}

.forgotPasswordPage{
    margin-top: 10%;
    margin-left:30%;
}