/* Style the page heading */
h1 {
  margin-bottom: 3rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-question {
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  width: 90%;
}

.paragraph {
  font-size: 12;
  font-family: 'Arial', sans-serif;
}